{:paths ["src/main/clojure"]
 :mvn/repos {"intellij-1" {:url "https://cache-redirector.jetbrains.com/intellij-dependencies"}
             "intellij-2" {:url "https://www.jetbrains.com/intellij-repository/releases"}}
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        com.github.ericdallo/clj4intellij {:mvn/version "0.5.4"}
        com.rpl/proxy-plus {:mvn/version "0.0.9"}
        seesaw/seesaw {:mvn/version "1.5.0"}
        babashka/fs {:mvn/version "0.5.22"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}}
 :aliases {:dev {:deps {nrepl/nrepl {:mvn/version "1.0.0"}
                        com.jetbrains.intellij.platform/ide-impl {:mvn/version "213.7172.48"
                                                                  :exclusions [org.jetbrains.kotlin/kotlin-stdlib-jdk8
                                                                               org.jetbrains.kotlin/kotlin-reflect
                                                                               org.jetbrains.kotlinx/kotlinx-coroutines-jdk8
                                                                               org.jetbrains.kotlinx/kotlinx-serialization-json-jvm
                                                                               org.jetbrains.kotlinx/kotlinx-serialization-core-jvm

                                                                               com.jetbrains.intellij.platform/external-system-impl
                                                                               com.jetbrains.intellij.platform/service-container
                                                                               com.jetbrains.intellij.platform/statistics-devkit
                                                                               com.jetbrains.infra/download-pgp-verifier]}}}
           :test {:extra-paths ["src/test/clojure"]}}}
