{:lint-as {com.rpl.proxy-plus/proxy+ clojure.core/reify}
 :linters {:warn-on-reflection {:level :info
                                :warn-only-on-interop true}
           :unresolved-symbol {:exclude [(com.rpl.proxy-plus/proxy+)]}}}
